frontend/node_modules/
app-service/frontend/node_modules/
.vscode/
# app-service/frontend/src/assets/cakesh/
# app-service/frontend/src/assets/DSL FEELINGS/
pythonback-end/tmp
pythonback-end/appmap*
pythonback-end/myenv
pythonback-end/myenv2
pythonback-end/flask_session
pythonback-end/database.db
__pycache__