.App {
  font-family: sans-serif;
  text-align: center;
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%; 
}

.marquee span {
  display: inline-block;
  position: absolute;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    left: 100%; 
  }
  100% {
    left: -100%; 
  }
}
.active-link {
  border-bottom: 2px solid #22c55ed4; 
}
.slider-button:hover {
  background-color: #78ff954d;
  height: 100%;
  width: 4rem;
}
