.cupcake-grid-container {
    width: 100%;
    overflow: hidden;
}

.cupcake-grid-slide {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.cupcake-grid-content {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cupcake-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.cupcake-details {
    padding: 20px;
}

.cupcake-name {
    font-weight: bold;
    color: #333333;
}

.add-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.check-icon {
    font-size: 24px;
    color: #00ff00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.check-visible {
    opacity: 1;
}

.tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #00ff00;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.add-button:hover .tooltip {
    opacity: 1;
}
